<% provide(:title, 'Welcome') %>

<h1>We Are The Ultimate Dive Bar</h1>

<h3>Don't waste any time talking to the bartender - order your drinks online. No more forgetting your credit card. No more waiting for a bartender to close out your tab. No more 40s of Old English because you got caught off guard and couldn't think of anything better to order. </h3>

<h3>You're an adult now.</h3>
<h3>It's time to drink like one.</h3>

<img src="assets/cocktail.png">
<img src="assets/cask.png">
<img src="assets/shotglass.png">
