<% provide(:title, 'Welcome') %>

<h1>We Are The Ultimate Dive Bar</h1>

<img src="assets/beer.png">
<img src="assets/cocktail.png">
<img src="assets/cask.png">
<img src="assets/soda.png">
<img src="assets/shotglass.png">
