<% provide(:title, 'Welcome') %>
<div class="home">
  <h1>We Are The Ultimate Dive Bar</h1>
  <hr>
  <h2>Don't waste time talking to the bartender.<br>
  <em>Order your drinks online.</em> </h2>
  <hr>
  <ul>
  <h3>
    <li> No more cancelling your lost credit card.</li>
    <li>No more waiting for a bartender to close out your tab.</li>
  <li>No more 40s of Old English because you got caught off guard and couldn't think of anything better to order.</li> </h3>
  </ul>
  <hr>
  <div class="emphatic">
    <h2>You're an adult now.</h2>
    <h2><em>It's time to drink like one.</em></h2>
  </div>
</div>
