<% provide(:title, 'Drinks') %>
<ul>
<% @drinks.each do |drink|  %>
  <li><%= drink.name %>: <%= number_to_currency drink.price %><br />
  <%= drink.description %>
  </li>
<% end %>
</ul>

<%= link_to 'New Drink', new_drink_path %>
