/*
*= require_self
*= require layout
*= require navigation
*= require sidebar
*= require normalize
*/

body,
html {
  min-width: 800px;
}

a {
  text-decoration:none;
}

a:hover { }
a:visited { }
a:active { }
