/*
 *= require_self
 *= require normalize
 *= require static
 *= require home
 *= require dashboard
 *= require form
 *= require sidebar
 *= require navigation
 *= require layout
 *= require shopping_cart
 *= require order_page
*/

body,
html {
  background-color: #807c77;
  height: 100%;
  min-width: 650px;
  font: normal 100%/25px 'CourierStdBold', 'Courier New', Courier, monospace;

}


body {
  margin: 0;
  padding:0;
}

.flash {
  padding-left: 5px;
  background: #FFC469;
  width: 90%;
}

.badge {
  padding-left: 5px;
  background: #A2C93A;
  width: 90%;
}

a {
  text-decoration:none;
}

a:hover { color: #aaa; }
a:visited { }
a:active { }
