/*
*= require normalize
*= require layout
*= require navigation
*= require sidebar
*= require static
*= require form
*= require_self
*/

body,
html {
  height: 100%;
  min-width: 650px;
}

body {
  margin: 0;
  padding:0;
}

#bigcon {
  position:relative;
  min-height:100%;
  min-width: 800px;
  margin: 0 auto 0 auto;
  padding-bottom: 45px;   /* Height of the footer */
}


a {
  text-decoration:none;
}

a:hover { color: #aaa; }
a:visited { }
a:active { }
