.button {
  background:#bc471d;
  display: block;
  border:1px solid #ffcc00;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
  border-radius:80px;
  color: #fff;
  font:7em;
  font-size: 100%;
  padding:50px;
  font-weight:bolder;
  border-bottom:7px solid #534f4b;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  cursor:pointer;
  /* padding, margins and other styles here */
}