#bigcon {
  background-color: #fff;
  position: relative;
  width: 980px;
  z-index: 2;
  min-height:100%;
  min-width: 800px;
  margin: 0 auto 0 auto;
  padding-bottom: 40px;   /* Height of the footer */
}

.home {
  padding-top: 1%;
  color: #534f4b;
}

.home h1 {
  color: #000;
  font-size:  35px;
}

.emphatic {
  text-align: center;
}

div#login {

}

div#login ul {
  position: center;
  list-style:none;
  text-align: center;
}

div#login li {
  display:inline;
}

div#login a {
  color: #fff;
  font-size: 20px;
}

div#login a:hover {
  color: #ddd;
}

div.container {
  min-width: 300px;
  overflow: hidden;
  padding: 5px 20px;
}

section#content {
  float: left;
  width: 68%;
  min-width: 300px;
}

section#sidebar {
  float:right;
  width: 30%;
  margin-right: -20px;
}

footer#page_footer {
  position:absolute;
  bottom: 0px;
  width: 100%;
  background-color: #534f4b;
  border-bottom: 10px solid #4c2719;
  color: #fff;
  font-size: 0.7em;
  height: 40px;
  padding-top: 5px;
  margin-top: 10px;
}

footer ul {
  /*margin-left: -10px;*/
  padding: 0;
  text-align: center;
}

footer li {
  display: inline;
  margin: 0;
  padding: 5px 10px;
}

footer p {
  text-align: center;
}


