
#logo {
  position: absolute;
  top: 18px;
  left: 3%;
}

header#page_header {
  min-width: 600px;
  background: #534f4b;
  color: #fff;
  height: 130px;
  overflow: hidden;
  padding: 10px 20px;
  margin-bottom: 0;
  position: relative;
}

nav#utility {
  float: right;
  font-size: 0.8em;
}

.navbar-form {
  padding-top: 10px;
  padding-left: 60%;
  margin-right: 0px;
  padding-bottom: 0;
}

nav#main_nav ul {
  position: absolute;
}

nav#main_nav {
  padding: 5px;
  border-bottom: 10px solid #4c2719;
  margin: 0;
  text-align: center;
}

nav#main_nav ul {
  padding-bottom: 5px;
}

nav#main_nav li {
  font-size: 23px;
    background-color: #edeae6;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    padding: 6px 16px;
    border-radius: 10px;
}
nav#main_nav a,
    a:link,
    a:visited {
      color: #1e2122;
      text-decoration: none;
    }

nav#breadcrumbs {
  background: #ddd;
  text-align: center;
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;

  }
  li {
  text-transform: lowercase;
  word-spacing: -5px;
  margin: 0 2px;
  padding: 10px 16px;
  a,
  a:link,
  a:visited {
  padding-right: 12px;
  color: #000;
  }
  }
  li:hover{

    background-color: #fff;
  }
  a:hover {
    color: #aaa;

  }
}
