  <nav id="main_nav" role="navigation">
    <ul>
      <%= link_to(root_path) do %>
      <li>Home</li>
      <% end %>
      <%= link_to(categories_path) do %>
      <li>Menu</li>
      <% end %>
    </ul>
    <div id="search">
      <%= render partial: 'layouts/search' %>
    </div>
  </nav>
