  <nav id="main_nav" role="navigation">
    <ul>
      <%= link_to(root_path) do %>
      <li>Home</li>
      <% end %>
      <%= link_to(categories_path) do %>
      <li>Menu</li>
      <% end %>
      <%= link_to(about_path) do %>
      <li>About</li>
      <% end %>
      <%= link_to(contact_path) do %>
      <li>Contact</li>
      <% end %>
    </ul>
  </nav>
