<section id="sidebar">
  <section id="recent_activity">
    <div class="shopping_cart">
    <header><h1 class="ir" id="recent">Shopping Cart</h1></header>
    <%= render_shopping_cart %>
  </div>
  </section>
</section>
